.navmob{
    display: flex;
    flex-direction: column;
    /* height: 80px; */
    width: 100%;
    /* background-color: red; */
    background: rgba(237, 237, 237, 0.8);
    /* position: relative; */
    /* z-index: 500; */
    align-items: center;
    justify-content:right;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    /* gap: 30px; */
    margin-top: 0px;
}
.navmob1-logo{
    height: 80px;
    width: 90px;
    margin-left: 70px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navmob1-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.navmob-pgs{
    display: flex;
    flex-direction: column;
    position: sticky;
    gap: 2px;
    /* background-color: cadetblue; */
    height: fit-content;
    width: 100%;
    align-items: center;
    z-index: 500;
}
.navmob-pgs1{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: px;
    transition: 0.3s;
    /* background-color: aqua; */
    height: 30px;
    width: 100%;
}
/* .navmob-pgs1:hover{
    scale: 1.15;
    background-color: blue;
    background: rgba(237, 237, 237, 0.8);
    transition: 0.3s;
} */
.ham{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
}
.ham1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    width: 30px;
}