.events{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #3e7742;
}
.events2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    background-color: purple;
    background: rgba(237, 237, 237, 0.8);
}
.events2 h1{
    font-size: 80px;
    color: #3e7742;
}

@media(width<=1440px){
    .events{
        height: 70vh;
    }
    .events2{
        height: fit-content;
        width: 90%;
    }
    .events2 h1{
        font-size: 60px;
        width: 80%;
        text-align: center;
    }
}