.news{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #3e7742;
}
.news2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    background-color: purple;
    background: rgba(237, 237, 237, 0.8);
}
.news2 h1{
    font-size: 80px;
    color: #3e7742;
    text-align: center;
}

@media(width<=800px){
    .news{
        height: 70vh;
    }
    .news2{
        height: fit-content;
        width: 90%;
    }
    .news2 h1{
        width: 80%;
        font-size: 60px;
        text-align: center;
    }
}