@import url('https://fonts.googleapis.com/css2?family=Basic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}

.sec1{
    display: flex;
    height: 30vh;
    width:100%;
    /* background-color: blue; */
}
.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    transition: 5s;
    background: url("../src/assets/school1.jpg");
    background-position: center center;
    background-size: cover;
    border-bottom: 2px solid white;
    z-index: 90;
}

.slide{
    overflow: hidden;
    height: 100vh;
}

.slidediv1{
    background: url("../src/assets/school1.jpg");
    height: 100%;
    background-color: red;

}
.hero1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background: rgba(23, 0, 0, 0.4);
    padding-bottom: 50px;
    /* position: relative; */
    z-index: 9;
}

.hero1 h1{
    font-size: 60px;
    color: white;
    margin-left: 20px;
}
.hero1 p{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    text-align: justify;
}
.mobhero{
    display: none;
    height: fit-content;
}
.mobhero p{
    display: flex;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}
.navmob1{
    display: none;
    justify-content: center;
    position: fixed;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}
.navmob1-logo{
    height: 100px;
    width: 150px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.navmob1-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec2{
    display: flex;
    height: 70vh;
    width: 100%;
    border-bottom: 2px solid white;
    /* background: rgba(23, 0, 0, 0.4); */
    /* background-color: blue; */
    background-color: #a29999;
    position: relative;
    z-index: 19;
}
.sec2-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    /* background-color: aqua; */
    background: rgba(23, 0, 0, 0.4);
    gap: 20px;
    /* z-index: 9; */
}
.sec2-txt h1{
    font-size: 50px;
    font-weight: 600;
    /* text-align: center; */
}
.sec2-txt p{
    width: 80%;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.sec2-img{
    display: flex;
    height: 100%;
    width: 45%;
    /* background-color: red; */
}
.sec2-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec3{
    display: flex;
    flex-direction: row-reverse;
    height: 60vh;
    width: 100%;
    border-bottom: 2px solid white;
    /* background-color: aqua; */
}
.sec3-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    /* background-color: aqua; */
    background: rgba(23, 0, 0, 0.4);
    gap: 20px;
}
.sec3-txt h1{
    font-size: 50px;
    font-weight: 600;
    /* text-align: center; */
}
.sec3-txt p{
    width: 80%;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.sec3-img{
    display: flex;
    height: 100%;
    width: 45%;
    /* background-color: red; */
}
.sec3-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
    border-bottom: 2px solid white;
    /* background-color: aqua; */
}
.sec4-txt{
    width: 50%;
}
.sec4-txt h1{
    font-size: 50px;
    margin-left: 20px;
}
.sec4-txt p{
    font-size: 15px;
    margin-left: 20px;
    width: 90%;
    text-align: justify;
}
.sec4-img{
    height: 100%;
    width: 50%;
}
.sec4-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.facilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: aqua;
    background: rgba(208, 205, 205, 0.8);
}
.facilities1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f3c85a; */
}
.facilities1 h1{
    font-size: 60px;
}
.facil-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
}
.facil-imgtxt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 33%;
    border: 2px solid #f3c85a;
    /* background-color: purple; */
}
.facil-imgtxt h1{
    margin-top: 10px;
    margin-left: 10px;
}
.facil-img{
    height: 85%;
    width: 100%;
    /* background-color: red; */
}
.facil-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(width<=800px){
    .navmob1{
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 200;
        width: 100%;
        align-items: center;
        /* background-color: red; */
    }
    .sec1{
        display: flex;
        height: 13.5vh;
        width: 100%;
        /* background-color: blue; */
    }
    .hero{
        height: 30vh;
        border-bottom: 0px solid white;
        /* z-index: -1; */
    }
    .hero1{
        padding-bottom: 20px;
        /* z-index: 0; */
    }
    .hero1 h1{
        font-size: 30px;
        /* z-index: 10; */
    }
    .hero1 p{
        display: none;
        font-size: 60px;
        color: white;
        margin-left: 20px;
    }
    .hero:hover{
        scale: 1.0;
    }
    .mobhero{
        display: flex;
        height: fit-content;
        background: rgba(23, 0, 0, 0.4);
        border-bottom: 2px solid white;
        /* background-color: aqua; */
    }
    .mobhero p{
        display: flex;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 500;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: justify;
    }
    .sec2{
        flex-direction: column;
        height: fit-content;
    }
    .sec2-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        /* background-color: aqua; */
        background: rgba(23, 0, 0, 0.3);
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .sec2-txt h1{
        font-size: 39px;
        /* background-color: aqua; */
        width: 90%;
        font-weight: 600;
        text-align: center;
        line-height: 1.1;
    }
    .sec2-txt p{
        width: 100%;
        font-weight: 500;
        font-size: 17px;
        text-align: left;
        width: 95%;
        /* background-color: aqua; */
    }
    .sec2-img{
        display: flex;
        height: 100%;
        width: 100%;
        background-color: red;
    }
    .sec3{
        flex-direction: column;
        height: fit-content;
    }
    .sec3-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        /* background-color: aqua; */
        background: rgba(23, 0, 0, 0.3);
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .sec3-txt h1{
        font-size: 39px;
        /* background-color: aqua; */
        width: 90%;
        font-weight: 600;
        text-align: center;
    }
    .sec3-txt p{
        width: 100%;
        font-weight: 500;
        font-size: 17px;
        text-align: left;
        width: 95%;
        /* background-color: aqua; */
    }
    .sec3-img{
        display: flex;
        height: 100%;
        width: 100%;
        background-color: red;
    }
    .sec4{
        height: fit-content;
        flex-direction: column;
    }
    .sec4-txt{
        width: 100%;
        background-color: #a29999;
    }
    .sec4-txt h1{
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
        line-height: 1.05;
    }
    .sec4-img{
        width: 100%;
    }
    .sec4-txt p{
        margin-bottom: 10px;
        text-align: justify;
    }
    .facilities{
        margin-top: -5px;
        height: fit-content;
    }
    .facilities1 h1{
        font-size: 50px;
    }
    .facil-imgtxt{
        height: fit-content;
        width: 98%;
        justify-content: space-between;
    }
    .facil-imgtxt h1{
        margin-top: 10px;
        margin-left: 20px;
        /* color: #3e7742; */
    }
    .facil-imgs{
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .facil-img{
        width: 100%;
    }
}